EXPO_PUBLIC_RIDE_BASE_API_URL=https://my-json-server.typicode.com/justineangelo/DrivRNCC
EXPO_PUBLIC_GOOGLE_MAPS_BASE_API_URL=https://maps.googleapis.com/maps/api/distancematrix/json
EXPO_PUBLIC_GOOGLE_API_KEY=Add your google api key here